* {
    margin:0;
    padding:0;
}
body {
    font-family:"맑은 고딕","돋움";
    font-size:12px;
    color:#444444;
}
ul {
    list-style-type:none;
}
.clear {
    clear:both;
}
#page {
    width:980px;
    margin:0 auto;
}
header #logo {
    float:left;
    margin:15px 0 0 20px;
}
header #moto {
    float:left;
    margin:45px 0 0 20px;
}
header #top_menu {
    float:right;
    margin:50px 0 0 0;
}
header #top_menu li {
    display:inline;
}

.line {
    margin-top:25px;
    border-top:solid 1px #cccccc;
}
header nav ul {
    margin-top:25px;
}
header nav li {
    display:inline;
}
header nav li.item {
    margin-left:40px;
}
aside {
    width:180px;
    float:left;
    margin-top:30px;
}
aside h3 {
    margin:5px;
    border-bottom:solid 3px #dd4f50;
}
aside .col1 {
    float:left;
    font-size:15px;
}
aside .col2 {
    float:right;
    font-size:6px;
}
aside ul {
    margin:15px 5px 5px 5px;
}
aside li {
    padding:12px;
    border-bottom:solid 1px #cccccc;
}
aside li.selected {
    border:0;
    background-color:#dd4f50;
    color:#ffffff;
}
aside li.end {
    border-bottom:solid 3px #cccccc;
}
aside #customer {
    margin:30px 0 0 8px;
}
section {
    width:772px;
    height:470px;
    float:left;
    margin-left:26px;
    margin-top:30px;
}
section #sub_img {
    margin-top:5px;
}
section .product {
    width:761px;
    height:70px;
    margin-top:20px;
    padding:15px 5px 5px 5px;
    border-top:solid 2px #dd4f50;
}
section .product h3 {
    float:left;
}
section .product .btns {
    float:left;
    margin-left:20px;
}
section .product ul {
    margin-top:10px;
}
section .product li {
    margin:3px;
}
footer {
    padding:20px 0 0 15px;
    border-top:solid 3px #dd4f50;
    color:#666666;
}
footer #address {
    float:left;
}
footer #link {
    float:right;
}
footer #footer_menu li {
    margin-top:5px;
}
footer #company_info {
    margin-top:20px;
}
footer #company_info li {
    margin-top:2px;
}
footer #copyright {
    margin-top:10px;
    font-size:11px;
    color:#888888;
}
footer #link h3 {
    font-size:16px;
    color:#dd4f50;
}
footer #link select {
    margin:5px 0 0 50px;
    width:100px;
    height:18px;
    font-size:11px;
}
footer #icons {
    margin-top:5px;
    text-align:right;
}
